.Featured{
    &-title{
        font-size: 2rem;
        margin-bottom: 25px;
        text-align: center;
    }
    &-content{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        max-width: 1110px;
        width: 100%;
    }
}