.Search{
    text-align: center;   
    &-controls{
        margin-bottom: 10px;
    } 
    &-control{
        background-color: transparent;
        color: $white;
        display: inline-block;
        border: none;
        box-shadow: none;
        font-size: 1rem;
        outline: none;
        padding: 0 30px;
        @include pointer-events{
            outline: none;
        }
    }
    &-input{
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 20px;
        color: $white;
        padding: 10px;
        width: 100%;
        &::placeholder{
            color: $white;
        }
        @include pointer-events{
            outline: none;
        }
    }
}