.Banner{
    background-image: url("https://images5.alphacoders.com/439/thumb-1920-439122.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;
    &::before{
        background-color: rgba($color: $black, $alpha: 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    &-content{
        margin: 0 auto;
        max-width: 640px;
        position: relative;
        z-index: 10;    
    }
}