.Card{
    margin: 10px;
    position: relative;
    width: 205px;
    &-image{
        display: block;
        height: 190px;
        width: 100%;
    }
    &-title{
        background-color: $darkBlue;
        color: $white;
        font-size: 18px;
        height: 100px;
        padding: 12px;        
    }
    &-name{
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
    &-favorite{
        background-color: rgba($color: $black, $alpha: 0.25);
        border: none;
        box-shadow: none;
        display: block;
        height: 35px;
        line-height: 25px;
        outline: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 35px;
        z-index: 10;
        i{
            font-size: 25px;
        }
        @include pointer-events{
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
}