.Footer{
    background-color: $black;
    padding: 15px 0;
    &-logo{
        height: 55px;
        width: 150px;
    }    
    &-social{
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-end;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }
    &-link{
        background-color: $gray;
        border-radius: 50%;
        color: $white;
        display: block;
        height: 35px;
        line-height: 35px;
        margin: 0 8px;
        text-align: center;
        transition: background-color 0.25s ease;
        width: 35px;
        i{
            pointer-events: none;
        }
        @include pointer-events{
            background-color: $red;
            color: $white;
        }
    }
}