.Navbar{
    margin-bottom: 100px;
    padding: 0 15px;    
    width: 100%;
    &-brand{
        display: block;
        height: 52px;
        margin: 0 auto;
        width: 130px;
    }
    &-logo{
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;        
    }
    &-items{
        list-style: none;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-left: 0;
        padding-top: 15px;
        text-align: center;
    }
    &-item{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700; 
        padding: 0 14px;
        text-transform: uppercase;  
    }  
    &-link{
        color: $white;
        transition: color 0.35s ease;
        text-decoration: none;
        @include pointer-events{
            color: $red;
            text-decoration: underline;
        }
    }  
}